<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis error
    vero ipsa molestiae libero at quisquam esse ipsum a nihil commodi doloribus
    laboriosam eos, iure pariatur voluptates. Dolores, consequatur amet.
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    totam sint nostrum voluptas tenetur cum rem expedita repellendus? Voluptatum
    voluptatibus ad iure quidem, nostrum expedita unde culpa obcaecati
    reiciendis nemo ipsam fugit consequatur incidunt dignissimos quia ullam
    praesentium sequi ipsa quasi. Similique, nesciunt, ducimus error sint
    magnam, laudantium molestiae maiores aliquam officiis hic autem saepe illum
    ut? Dolore velit, odio quidem assumenda earum ab voluptates dolores,
    recusandae dicta ducimus libero iste, quaerat perspiciatis! Explicabo,
    inventore illum voluptates quaerat odit, optio reprehenderit ex iusto qui
    doloribus repudiandae magnam eum autem, dolor ipsam ut. Optio, minus. Id
    quidem aspernatur totam libero officia suscipit fugit, itaque possimus
    voluptatem exercitationem ipsa inventore, dolorem corporis est nulla esse
    dolore expedita in laboriosam neque animi deserunt! Porro iusto omnis nemo
    doloribus eligendi rerum pariatur vel dicta. Iusto placeat et, minus,
    doloremque sapiente, nesciunt porro ex repellendus perferendis maxime
    assumenda similique blanditiis voluptate a autem rem? Facilis vitae a ad
    deleniti officiis facere repellendus laborum alias eum est. Numquam fuga
    fugit alias eveniet error quaerat ullam labore assumenda, perferendis
    inventore voluptas accusamus aperiam ducimus non quas, natus exercitationem!
    Dolorem sed voluptate minima ratione, deleniti mollitia quasi quae maiores
    temporibus saepe fugit repellendus praesentium porro distinctio veritatis.
    Voluptate.
  </p>
</main>
